<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009660486119-kjf7g6pnr8hcomci6hlloo8risfk8dph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009660486119-kjf7g6pnr8hcomci6hlloo8risfk8dph</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpdmFdBVswAbli-9Q1n5DwZ7DCHEUgrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1009660486119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Evan.Cuffed</string>
	<key>PROJECT_ID</key>
	<string>cuffed-1d5c0</string>
	<key>STORAGE_BUCKET</key>
	<string>cuffed-1d5c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009660486119:ios:fe2298f8e4573bb5cb5d42</string>
	<key>DATABASE_URL</key>
	<string>https://cuffed-1d5c0.firebaseio.com</string>
</dict>
</plist>